<!--<p>Form Value: {{registerForm.value | json}}</p>
    <p>Form Status: {{registerForm.status | json}}</p>-->
<div class="container">
    <div class="container-fluid">

        <form [formGroup]="registerForm">

            <mat-label><h4>Dados Contato</h4></mat-label>
            <mat-divider></mat-divider>
            <br>

            <div fxLayout="row" fxFlexAlign="space-between center" fxLayoutGap="20px">
              
                <div fxFlex="20" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Cliente Id</mat-label>
                        <input matInput placeholder="Selecione o cliente" readonly formControlName="clienteId"
                        [ngClass]="{'is-invalid': registerForm.get('area').errors && registerForm.get('area').touched}">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="carregaClienteDados()">
                           <mat-icon>search</mat-icon>
                        </button>
                        <mat-error *ngIf="registerForm.get('clienteId').hasError('required')">
                            Campo <strong>Obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="30" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Cliente</mat-label>
                        <input matInput placeholder="Selecione o cliente" readonly formControlName="clienteDesc">
                      </mat-form-field>
                </div>

                <div fxFlex="30" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Endereço</mat-label>
                        <input matInput placeholder="Endereço" readonly
                            formControlName="endereco">
                      </mat-form-field>
                </div>

                <div fxFlex="10" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Area</mat-label>
                        <input matInput placeholder="Area" readonly
                            formControlName="area">
                      </mat-form-field>
                </div>                

            </div>

            <div fxLayout="row" fxFlexAlign="space-between center" fxLayoutGap="20px">

                <div fxFlex="30" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Nome" value="" formControlName="nome"
                        [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}">

                        <mat-error *ngIf="registerForm.get('nome').hasError('minlength') && registerForm.get('nome').touched" class="invalid-feedback">
                            minímo de <strong>2</strong> caracteres
                        </mat-error>
                       
                        <mat-error *ngIf="registerForm.get('nome').hasError('maxlength') && registerForm.get('nome').touched" class="invalid-feedback">
                            Máximo de <strong>45</strong> caracteres
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('nome').hasError('required')">
                            Campo <strong>Obrigatório</strong>
                        </mat-error>

                    </mat-form-field>
                </div>
                
                <div fxFlex="40" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Email Principal</mat-label>
                        <input type="email" matInput placeholder="Email" value="" formControlName="emailPrinc"
                            [ngClass]="{'is-invalid': registerForm.get('emailPrinc').errors && registerForm.get('emailPrinc').touched}">
                            <mat-icon matSuffix>alternate_email</mat-icon>

                            <mat-error *ngIf="registerForm.get('emailPrinc').hasError('required')">
                                Campo <strong>Obrigatório</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('emailPrinc').hasError('email')">
                                Email <strong>inválido</strong>
                            </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="30" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Email secundário</mat-label>
                        <input matInput placeholder="Email" value="" formControlName="emailSec">
                        <mat-icon matSuffix>alternate_email</mat-icon>
                      </mat-form-field>
                </div>

            </div>

            <div fxLayout="row" fxFlexAlign="space-between center" fxLayoutGap="20px">
                
                <div fxFlex="20" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Telefone</mat-label>
                        <input matInput placeholder="Telefone" value="" formControlName="fonePrinc"
                        [ngClass]="{'is-invalid': registerForm.get('fonePrinc').errors && registerForm.get('fonePrinc').touched}">
                        <mat-error *ngIf="registerForm.get('fonePrinc').hasError('required')">
                            Campo <strong>Obrigatório</strong>
                        </mat-error>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>

                <div fxFlex="20" class="form-group ">
                    <mat-form-field class="perc">
                        <mat-label>Telefone secundário</mat-label>
                        <input matInput placeholder="Telefone" value="" formControlName="foneSecun">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
                </div>

            </div> 
            <div fxLayout="row" fxFlexAlign="space-between center" fxLayoutGap="2px">
                <button mat-button color="primary" (click)="salvarAlteracao()"><mat-icon>save</mat-icon>Salvar</button>
                <button mat-button color="accent" (click)="resetForm()"><mat-icon>undo</mat-icon>Cancelar</button>
            </div>           

        </form>

    </div>
</div>