<div class="container">
    <div class="container-fluid">
        <mat-label><h4>Projeto - Consulta</h4></mat-label>
                    <mat-divider></mat-divider>

                    <div fxLayout="row" fxFlexAlign="space-between center" fxLayoutGap="20px">
                
                        <div fxFlex="100">
        
                            <div class="table-container">
        
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar Dados">
                                </mat-form-field>
        
                                <table mat-table [dataSource]="dataSource" matSort>
        
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef> Id </th>
                                        <td mat-cell *matCellDef="let proj" [class.highlightCell]="highlight(proj.concluido)"> {{proj.id}} </td>
                                    </ng-container>
        
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="codProjeto">
                                        <th mat-header-cell *matHeaderCellDef> Projeto </th>
                                        <td mat-cell *matCellDef="let proj" [class.highlightCell]="highlight(proj.concluido)"> {{proj.codProjeto}} </td>
                                    </ng-container>
        
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="descricao">
                                        <th mat-header-cell *matHeaderCellDef> Descrição </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.descricao}} </td>
                                    </ng-container>
        
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="recursosPrev">
                                        <th mat-header-cell *matHeaderCellDef> Recursos Prev. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.recursosPrev}} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="recursosUtil">
                                        <th mat-header-cell *matHeaderCellDef> Recursos Util. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.recursosUtil}} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="mobilizaPrev">
                                        <th mat-header-cell *matHeaderCellDef> Mobiliza Prev. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.mobilizaPrev}} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="mobilizaUtili">
                                        <th mat-header-cell *matHeaderCellDef> Mobiliza Util. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.mobilizaUtili}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="dataInicio">
                                        <th mat-header-cell *matHeaderCellDef> Data Inicio </th>
                                        <td mat-cell *matCellDef="let proj" [class.highlightCell]="highlight(proj.concluido)"> {{proj.dataInicio | date: 'dd/MM/yyyy' }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="horasPrevDesen">
                                        <th mat-header-cell *matHeaderCellDef> Horas Prev.Desen. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.horasPrevDesen}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="horasUtilDesenv">
                                        <th mat-header-cell *matHeaderCellDef> Horas Util.Desen. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.horasUtilDesenv}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="horasPrevImplement">
                                        <th mat-header-cell *matHeaderCellDef> Horas Prev.Implement. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.horasPrevImplement}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="horasUtilImplement">
                                        <th mat-header-cell *matHeaderCellDef> Hora Util.Implement. </th>
                                        <td mat-cell *matCellDef="let proj"> {{proj.horasPrevImplement}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="clienteId">
                                        <th mat-header-cell *matHeaderCellDef> Cliente Id </th>
                                        <td mat-cell *matCellDef="let ct"> {{ct.clienteId}} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="clienteNome">
                                        <th mat-header-cell *matHeaderCellDef> Nome Cliente </th>
                                        <td mat-cell *matCellDef="let proj" [class.highlightCell]="highlight(proj.concluido)"> {{proj.cliente.clientes}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="concluido">
                                        <th mat-header-cell *matHeaderCellDef> Concluído </th>
                                        <td mat-cell  *matCellDef="let proj" [class.highlightCell]="highlight(proj.concluido)"> {{proj.concluido}} </td>
                                    </ng-container>
                                    
        
                                    <ng-container matColumnDef="Opcoes">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opções</th>
                                        <td mat-cell *matCellDef="let ct" [class.highlightCell]="highlight(ct.concluido)">
                                            <!--<button mat-button color="primary" [routerLink]="['/projetosc', ct.id, 'edit']" tooltip="Editar"><mat-icon>edit</mat-icon></button>-->
                                            <button mat-button color="primary" (click)="editar(ct)" tooltip="Editar"><mat-icon>edit</mat-icon></button>
                                            <button mat-button color="warn" (click)="deleteConfirm(ct)" tooltip="Excluir"><mat-icon>delete_sweep</mat-icon></button>
                                        </td>
                                    </ng-container>
        
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        
                            </div>
        
                        </div>
        
                    </div>
    </div>
</div>